<section class="ui raised segment">
    <header class="ui header">
    {{user.firstName}} {{user.lastName}}'s Information
    </header>
    <table class ="ui fixed table">
        <thead>
        <td>
            First Name: {{user.firstName}} 
        </td>
        <td>
            Last Name {{user.lastName}}
        </td>
        <td>
            email: {{user.email}}
        </td>
        <td>
            Password:  {{user.password}}
        </td>
        <td>
            Gender: {{user.gender}}  
        </td>
        <td>
            Height: {{user.height}}
          </td>  
          <td>
            BMI: {{user.bmi}}
          </td>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>