
<form class="ui stacked segment form" action="/updateinfo/setfirstname/{{user.id}}" method="POST">
  <div class="two fields">
        <div class="field">
            <label>Set First Name</label>
            <input placeholder="Set First Name" type="text" name="firstName">
        </div>
  </div>
  <button class="ui green submit button">Set First Name</button>
</form>

<form class="ui stacked segment form" action="/updateinfo/setlastname/{{user.id}}" method="POST">
  <div class="two fields">
        <div class="field">
            <label>Set Last Name</label>
            <input placeholder="Set Last Name" type="text" name="lastName">
        </div>
  </div>
  <button class="ui green submit button">Set Name</button>
</form>

<form class="ui stacked segment form" action="/updateinfo/setgender/{{user.id}}" method="POST">
  <div class="two fields">
        <div class="field">
            <label>Set email</label>
            <input placeholder="Set email" type="text" name="email">
        </div>
  </div>
  <button class="ui green submit button">Set email</button>
</form>

<form class="ui stacked segment form" action="/updateinfo/setgender/{{user.id}}" method="POST">
  <div class="two fields">
        <div class="field">
            <label>Set Password</label>
            <input placeholder="Set Password" type="text" name="password">
        </div>
  </div>
  <button class="ui green submit button">Set Password</button>
</form>



<form class="ui stacked segment form" action="/updateinfo/setGender/{{user.id}}" method="POST">
  <div class="two fields">
        <div class="field">
            <label>Set Gender</label>
            <input placeholder="Set Gender" type="text" name="gender">
        </div>
  </div>
  <button class="ui green submit button">Set Gender</button>
</form>

<form class="ui stacked segment form" action="/updateinfo/setHeight/{{user.id}}" method="POST">
  <div class="two fields">
        <div class="field">
            <label>Set Height</label>
            <input placeholder="Set Height" type="text" name="height">
        </div>
  </div>
  <button class="ui green submit button">Set Height</button>
</form>